/* CARD */
.card{
  min-width:200px; /* ensures cards are visible but not massive */
  max-width:250px; /* prevents them from getting too big */
  border-radius:16px;
  overflow:hidden;
  transition:.3s;
  cursor:pointer;
  border:2px solid rgba(255,255,255,0.2);
  background:#111;
  display:flex;
  justify-content:center;
  align-items:center;
}

.card img{
  width:100%;
  max-height:150px; /* <--- limit the height */
  object-fit:contain; /* keeps the logo proportional */
  display:block;
  padding:10px;
}
